ADMIN_SIGN_TO TXT "SQL_lists\\ADMIN_SIGN_TO.txt"
CEH TXT "SQL_lists\\CEH.txt"
CEH_FOR_PRINT TXT "SQL_lists\\CEH_FOR_PRNT.txt"
CH_PRM TXT "SQL_lists\\CH_PRM.txt"
DET TXT "SQL_lists\\DET.txt"
DET_MAR TXT "SQL_lists\\DET_MAR.txt"
DET_MAT TXT "SQL_lists\\DET_MAT.txt"
DET_NORM_MAT TXT "SQL_lists\\DET_NORM_MAT.txt"
DET_RCD TXT "SQL_lists\\DET_RCD.txt"
DET_TRUD TXT "SQL_lists\\DET_TRUD.txt"
DOC TXT "SQL_lists\\DOC.txt"
ED TXT "SQL_lists\\ED.txt"
INS TXT "SQL_lists\\INS.txt"
IZD TXT "SQL_lists\\IZD.txt"
KODPROF TXT "SQL_lists\\KODPROF.txt"
LINK_INSTR TXT "SQL_lists\\LINK_INSTR.txt"
MAT TXT "SQL_lists\\MAT.txt"
NORM_MAT_W_TYPE TXT "SQL_lists\\NORM_MAT_W_TYPE.txt"
OBOR TXT "SQL_lists\\OBOR.txt"
OPER_PER TXT "SQL_lists\\OPER_PER.txt"
OPER_PER_PRIM TXT "SQL_lists\\OPER_PER_PRIM.txt"
OPER_PER_TT TXT "SQL_lists\\OPER_PER_TT.txt"
OPER_PRIM TXT "SQL_lists\\OPER_PRIM.txt"
OPER_TT TXT "SQL_lists\\OPER_TT.txt"
OPERS TXT "SQL_lists\\OPERS.txt"
OSN TXT "SQL_lists\\OSN.txt"
PROF_CODE TXT "SQL_lists\\PROF_CODE.txt"
REASON TXT "SQL_lists\\REASON.txt"
RETURN_TO TXT "SQL_lists\\RETURN_TO.txt"
SIGN_STEPS TXT "SQL_lists\\SIGN_STEPS.txt"
SIGN_TO TXT "SQL_lists\\SIGN_TO.txt"
T_PZ_PARAMS TXT "SQL_lists\\T_PZ_PARAMS.txt"
TARA TXT "SQL_lists\\TARA.txt"
TIME_CF TXT "SQL_lists\\TIME_CF.txt"
TIME_DPNDS TXT "SQL_lists\\TIME_DPNDS.txt"
TIME_GRP TXT "SQL_lists\\TIME_GRP.txt"
TIME_OBR_GRP TXT "SQL_lists\\TIME_OBR_GRP.txt"
TIME_SCHM_PRMS TXT "SQL_lists\\TIME_SCHM_PRMS.txt"
TIME_WORKS TXT "SQL_lists\\TIME_WORKS.txt"
TIME_WORKS_CNCT TXT "SQL_lists\\TIME_WORKS_CNCT.txt"
USERS TXT "SQL_lists\\USERS.txt"
VTP_PRIM TXT "SQL_lists\\VTP_PRIM.txt"
WORK_TYPE TXT "SQL_lists\\WORK_TYPE.txt"
TECH_DOC TXT "SQL_lists\\TECH_DOC.txt"
Users_Engineers TXT "SQL_lists\\Users_Engineers.txt"
Appr_Steps TXT "SQL_lists\\Appr_Steps.txt"
