USERS TXT "USERS.txt"
OPERS TXT "OPERS.txt"
OPER_PRIM TXT "OPER_PRIM.txt"
OPER_TT TXT "OPER_TT.txt"
OPER_PER_PRIM TXT "OPER_PER_PRIM.txt"
OPER_PER_TT TXT "OPER_PER_TT.txt"
OPER_PER TXT "OPER_PER.txt"
REASON TXT "REASON.txt"
OBOR TXT "OBOR.txt"
TARA TXT "TARA.txt"
RETURN_TO TXT "RETURN_TO.txt"
SIGN_TO TXT "SIGN_TO.txt"
ADMIN_SIGN_TO TXT "ADMIN_SIGN_TO.txt"
DOC TXT "DOC.txt"
IZD TXT "IZD.txt"
ED TXT "ED.txt"
INS TXT "INS.txt"
OSN TXT "OSN.txt"
DET_MAR TXT "DET_MAR.txt"
WORK_TYPE TXT "WORK_TYPE.txt"
CEH_FOR_PRNT TXT "CEH_FOR_PRNT.txt"
VTP_PRIM TXT "VTP_PRIM.txt"
CEH TXT "CEH.txt"
DET TXT "DET.txt"
MAT TXT "MAT.txt"
DET_MAT TXT "DET_MAT.txt"
NORM_MAT_W_TYPE TXT "NORM_MAT_W_TYPE.txt"
KODPROF TXT "KODPROF.txt"
T_PZ_PARAMS TXT "T_PZ_PARAMS.txt"
CH_PRM TXT "CH_PRM.txt"
DET_RCD TXT "DET_RCD.txt"
DET_NORM_MAT TXT "DET_NORM_MAT.txt"
TIME_GRP TXT "TIME_GRP.txt"
TIME_CF TXT "TIME_CF.txt"
TIME_OBR_GRP TXT "TIME_OBR_GRP.txt"
TIME_SCHM_PRMS TXT "TIME_SCHM_PRMS.txt"
TIME_DPNDS TXT "TIME_DPNDS.txt"
DET_TRUD TXT "DET_TRUD.txt"
PROF_CODE TXT "PROF_CODE.txt"
TIME_WORKS TXT "TIME_WORKS.txt"
TIME_WORKS_CNCT TXT "TIME_WORKS_CNCT.txt"
SIGN_STEPS TXT "SIGN_STEPS.txt"
