ContentMakerFilter TXT "SQL_lists\\ContentMakerFilter.txt"
ContentSignFilter TXT "SQL_lists\\ContentSignFilter.txt"
ContentViewFilter TXT "SQL_lists\\ContentViewFilter.txt"
ContentViewSignFilter TXT "SQL_lists\\ContentViewSignFilter.txt"
SzPriceReqDocs TXT "SQL_lists\\SzPriceReqDocs.txt"
SzPriceReqDocItems TXT "SQL_lists\\SzPriceReqDocItems.txt"
Products TXT "SQL_lists\\Products.txt"
RepDep261 FR3 "Reports\\RepDep261.fr3"
RepDep184 FR3 "Reports\\RepDep184.fr3"
AccessFlags TXT "SQL_lists\\AccessFlags.txt"
AccessStats TXT "SQL_lists\\AccessStats.txt"
UsersList TXT "SQL_lists\\UsersList.txt"
SingedSteps TXT "SQL_lists\\SingedSteps.txt"
